'.text.tex.latex':
  'defi':
    'prefix': '\\bdef'
    'body': '\\\\begin{defi}[${1:definition name}]\n$0\n\\\\end{defi}'
  'theo':
    'prefix': '\\bth'
    'body': '\\\\begin{theo}[${1:theorem name}]\n$0\n\\\\end{theo}'
  'proof':
    'prefix': '\\bpr'
    'body': '\\\\begin{proof}\n$0\n\\\\end{proof}'
  'exam':
    'prefix': '\\bex'
    'body': '\\\\begin{exam}\n$0\n\\\\end{exam}'

'.text.tex.latex':
# preamble and package/class file
  "RequirePackage":
    "prefix": "\\Reqp"
    "body": "\\\\RequirePackage$2{${1:package name}}$0"
  "usepackage":
    "prefix": "\\usep"
    "body": "\\\\usepackage$2{${1:package name}}$0"
  'newcommand':
    'prefix': '\\newc'
    'body': '\\\\newcommand$3{${1:cs name}}{${2:definition}}$0'

# document level
  'part':
    'prefix': '\\part'
    'body': '\\\\part{${1:part name}}\n$0'
  'chapter':
    'prefix': '\\chp'
    'body': '\\\\chapter{${1:chapter name}}\n$0'
  'section':
    'prefix': '\\sec'
    'body': '\\\\section{${1:section name}}\n$0'
  'subsection':
    'prefix': '\\sse'
    'body': '\\\\subsection{${1:subsection name}}\n$0'
  'subsubsection':
    'prefix': '\\sss'
    'body': '\\\\subsubsection{${1:subsubsection name}}\n$0'
  'paragraph':
    'prefix': '\\para'
    'body': '\\\\paragraph{${1:paragraph name}}\n$0'
  'subparagraph':
    'prefix': '\\subp'
    'body': '\\\\subparagraph{${1:subparagraph name}}\n$0'

# environment
  '\\begin{}...\\end{}':
    'prefix': '\\beg'
    'body': '\\\\begin{${1:env}}$2\n$0\n\\\\end{${1:env}}'
  'align(*)':
    'prefix': '\\bal'
    'body': '\\\\begin{align$1}\n$0\n\\\\end{align$1}'
  'description':
    'prefix': '\\bdes'
    'body': '\\\\begin{description}\n\\\\item[$1]$0\n\\\\end{description}'
  'enumerate':
    'prefix': '\\ben'
    'body': '\\\\begin{enumerate}\n\\\\item $0\n\\\\end{enumerate}'
  'equation(*)':
    'prefix': '\\beq'
    'body': '\\\\begin{equation$1}\n$0\n\\\\end{equation$1}'
  'figure':
    'prefix': '\\bfig'
    'body': '\\\\begin{figure}\n\\\\includegraphics$2{${1:/path/to/figure}}\n\\\\caption{$3}\n\\\\label{$4}\n\\\\end{figure}'
  'gather(*)':
    'prefix': '\\gather'
    'body': '\\\\begin{gather$1}\n$0\n\\\\end{gather$1}'
  'itemize':
    'prefix': '\\bite'
    'body': '\\\\begin{itemize}\n\\\\item $0\n\\\\end{itemize}'
  'table':
    'prefix': '\\btabl'
    'body': '\\\\begin{table}\n\\\\caption{$1}\n\\\\label{$3}\n$2\n\\\\end{table}'
  'tabular':
    'prefix': '\\btab'
    'body': '\\\\begin{tabular}{${1:column alignment}}\n$0\n\\\\end{tabular}'

# mgm environment
  'definition':
    'prefix': '\\bdef'
    'body': '\\\\begin{defi}[${1:definition name}]\n$0\n\\\\end{defi}'
  'theorem':
    'prefix': '\\bth'
    'body': '\\\\begin{theo}[${1:theorem name}]\n$0\n\\\\end{theo}'
  'example':
    'prefix': '\\bex'
    'body': '\\\\begin{exam}\n$0\n\\\\end{exam}'

# text fonts
  'textit (italic)':
    'prefix': 'it'
    'body': '\\\\textit{$1}$0'
  'textbf (boldface)':
    'prefix': 'bf'
    'body': '\\\\textbf{$1}$0'
  'texttt (typewriter)':
    'prefix': 'tt'
    'body': '\\\\texttt{$1}$0'
  'itshape (italic)':
    'prefix': 'its'
    'body': '{\\\\itshape $1}$0'
  'bfseries (boldface)':
    'prefix': 'bfs'
    'body': '{\\\\bfseries $1}$0'
  'textcolor':
    'prefix': '\\tc'
    'body': '\\\\textcolor{${1:red}}{${2:words}}$0'
  'textcolor(red)':
    'prefix': '\\rc'
    'body': '\\\\textcolor{red}{$1}$0'
  'textcolor(blue)':
    'prefix': '\\bc'
    'body': '\\\\textcolor{blue}{$1}$0'
  'textcolor(white)':
    'prefix': '\\wc'
    'body': '\\\\textcolor{white}{$1}$0'

# element
  'inline math - $$':
    'prefix': '$'
    'body': '$${1:eqn}$$0'

# math, taken from  https://github.com/SublimeText/LaTeXTools/blob/master/LaTeX%20math.sublime-completions
'.text.tex.latex .mathstring':
  'math italic':
    'prefix': 'it'
    'body': '\\\\mathit{$1}$0'
  'math boldface':
    'prefix': 'bf'
    'body': '\\\\mathbf{$1}$0'
  'math blackboard':
    'prefix': 'bb'
    'body': '\\\\mathbb{$1}$0'
  'math roman':
    'prefix': 'rm'
    'body': '\\\\mathrm{$1}$0'
  'math sans-serif':
    'prefix': 'sf'
    'body': '\\\\mathsf{$1}$0'
  'math calligraphy':
    'prefix': 'cal'
    'body': '\\\\mathcal{$1}$0'
  'fraction':
    'prefix': '\\frac'
    'body': '\\\\frac{\n\t$1\n\t}{\n\t$2\n}$0'
  'displaystyle fraction':
    'prefix': '\\dfrac'
    'body': '\\\\dfrac{\n\t$1\n\t}{\n\t$2\n}$0'
  'aligned':
    'prefix': '\\bald'
    'body': '\\\\begin{aligned}$1\n$0\n\\\\end{aligned}'
  'gathered':
    'prefix': '\\gathered'
    'body': '\\\\begin{gathered}$1\n$0\n\\\\end{gathered}'
  'matrix':
    'prefix': '\\bmat'
    'body': '\\\\begin{bmatrix$1}$2\n$0\n\\\\end{bmatrix$1}'
  'notag':
    'prefix': 'nt'
    'body': '\\\\notag\\\\\\\\\n&='
  'cases':
    'prefix': '\\bca'
    'body': '\\\\begin{cases}\n$1&$2\\\\\\\\\n$3&$4\n\\\\end{cases}'
  'left ... right ...':
    'prefix': '\\left'
    'body': '\\\\left${1:\\\\right}'
  'displaystyle':
    'prefix': '\\dsp'
    'body': '\\\\displaystyle '
